
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/ValidationTool.js" type="text/javascript"></script>
<script type="text/javascript">

dragElement(document.getElementById("mydiv"));
</script>




<div class="card-body">
    <h2>Diagram Page Here</h2>
</div>

<div class="container">
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
            <div id="mydiv">
                <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
                <div id="mydivheader">Click here to move</div>
            </div>
            UP LEFT
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: blue">
        <div class="boxTile">
            UP RIGHT
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: cornflowerblue">
        <div class="boxTile">
            DOWN LEFT
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: dodgerblue">
        <div class="boxTile">
            DOWN RIGHT
        </div>
    </div>
</div>
