
@{
    ViewBag.Title = "Calendar";
}

<div class="row">
    <div class="card-body">
        <h2>Calendar Page Here</h2>
    </div>
</div>


<div class="container">
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
    <div class="Tile border border-dark" style="background-color: aqua">
        <div class="boxTile">
        </div>
    </div>
</div>
